{% extends 'base.html' %}
{% load static %}
{% block propertyactive %} active{% endblock propertyactive %}
{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a">Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form method="POST" action="/filter/">
              {%csrf_token%}
                <select class="custom-select" name="category">
                  {% comment %} <option value=""selected disabled hidden>All</option> {% endcomment %}
                  <option value="">select</option>
                  <option value="Rent">Rent</option>
                  <option value="Sale">Sale</option>
                </select>
                {% comment %} <div class="col-md-12"> {% endcomment %}
                <button type="submit" class="btn btn-b" style="padding: 0.2rem 0.5rem; ">Search</button>
                {% comment %} </div> {% endcomment %}
              </form>
            </div>
          </div>
          {%for p,i in info %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{i.building.url}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/property/{{p.id}}/">{{p.prop_name}}
                        {% comment %} <br /> {{p.location}} {% endcomment %}
                      </a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{p.status}} | $ {{p.price}}</span>
                    </div>
                    <a href="/property/{{p.id}}/" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{p.area}}
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>{{p.beds}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{p.baths}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>{{p.garage}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
          {% comment %} <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="#">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div> {% endcomment %}
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                
                <li class="page-item">
                  {% if page.has_previous %}
                  <a class="page-link" href="{% url 'propertyGrid' %}?page={{page.previous_page_number}}" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                  {% endif %}
                </li>
                
                {% for num_page in page.paginator.page_range%}
                 {% if page.number == num_page %}
                <li class="page-item active">
                  <a class="page-link" href="{% url 'propertyGrid' %}?page={{num_page}}">{{num_page}}</a>
                </li>
                 {% else %}
                 <li class="page-item">
                  <a class="page-link" href="{% url 'propertyGrid' %}?page={{num_page}}">{{num_page}}</a>
                </li>
                {% endif %}

                {% endfor %}
                {% comment %} <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li> {% endcomment %}
                <li class="page-item next">
                  {% if page.has_next %}
                  <a class="page-link" href="{% url 'propertyGrid' %}?page={{page.next_page_number}}">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                  {% endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>

      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

  {% endblock %}